{% for iface in interfaces %}
iface {{ iface }} inet manual
{% endfor %}

auto {{ name }}
iface {{ name }} inet {% if use_dhcp %}dhcp{% else %}static{% endif %}
        bridge_ports {{ interfaces|join(' ') }}
{% if not use_dhcp %}
        address {{ address }}
        broadcast {{ broadcast }}
        netmask {{ netmask }}
        gateway {{ gateway }}
{% endif %}
